*{margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Open Sans', sans-serif;
    background: url("https://pp.vk.me/c633423/v633423092/2745e/NZtBthrAF9k.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.centercaly {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 32;
    height: 400;
    box-shadow: 0 0 10px 1px grey;
}

#app_name {
    width: inherit;
    font-size: 0.8rem;
    padding: 2px 0 2px 10px;
    background-color: #303030;
    color: white;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

#display_answer{
    width: inherit;
    height: 150px;
    background-color: #303030;
    font-size: 2rem;
    color: white;
    text-align: right;
    outline: none;
    border: none;
   
}

.layer3{
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;

}

.layer2{
    width: inherit;
    height: 90px;
    display: flex;
    justify-content: center;

}

.layer1{
    width: inherit;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    
    

}

button{
    flex :1; 
    font-size: 1.4rem;
    color: white;
    border: 1px solid #504f4f;
    outline: none;
}

.Main_num{
    background-color: #101011;
    color: white;
}

.oper{
    background-color: #303030;
}

#clearbutton{font-size: 1rem;}

button:hover{
    background-color: #474747;
    border: 1px solid grey;
}
